.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.moviesContainer{
  height: 90vh;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap ;
  background-color: #282c34;
}

.moviesAndFooter{
  overflow:hidden;
}

.cardContainer{
  width: 22%;
  height: 22rem;
  margin: 10px;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  background-color: antiquewhite;
}

.imgCardContainer{
  width: 100%;
  height: 60%;
  padding-bottom: 10px;
}
.imgFull{
  width: 100%;
  height: 13rem;
  border-radius: 25px;
  padding: 2px;
}

.topLine{
  border-top: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
  cursor: pointer;
}

.header{
  background-color: #61dafb;
  height: 2rem;
  padding-left: 5px;
  padding-top: 3px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.footerBtn{
  width: 50%;
  height: 27px;
}

.descContainer{
  display: flex;
}

.description{
  width: 35vw;
}

.descImage{
  width: 65vw;
  height: 93vh;
  border-radius: 25px;
}